{# _PyBlocks/templates/classes/class02/week05/04/main.html_ #}

{% extends "/classes/classes_layout_skulpt.html" %}
{% block title %}Class{{ current_class }}:Week{{ current_week }}:Step{{ current_step }}{% endblock %}

{# Content of the modal popup that appears on cavas based output (i.e., turtle graphics). #}
{% set outputModalSize =  "modal-lg" %}
{% block isModalIntro %}false{% endblock %}

{% block middle %}
    Let's Add Some Color!!
{% endblock %}

{# Content of the coding area on the page. #}
{% block code_area %}
    {% include ['/classes/class02/', 'code_area_blockly.xml'] | join('') %}
{% endblock %}
{# Blockly related items.#}
{% block isBlockly %}true{% endblock %}
{% block details_and_toolbox %}
    {% include [step_path, 'toolbox.xml'] | join('') %}
    {% include [step_path, 'default.xml'] | join('') %}
{% endblock %}
{#{% block autosave %}auto_save_and_restore_blocks();{% endblock %}#}
{#True if Skulpt interpreter is used instead of server-side interpreter.#}
{% block no_skulpt %}false{% endblock %}

{% block python_start_text %}''{% endblock %}

{% block panel %}
    <div id="panel">
        <div style="padding: 30px">
{#            <h2 align="center" style="color: #0072bc;">Helpful Hints</h2>#}
{#            <ul class="backgrd_detail" style="line-height:25px;">#}
{#                <li>Remember:  When your turtle turns left and right it, it is not turning to the left or right of the screen.</li>#}
{#                <li>Turtles turn based on their body position, just like you do:</li>#}
{#                    <br/>#}
{##}
{#                    <p align="center"><img src="/static/img/turtle/turtle_directions.png" height="150px"></p>#}
{##}
{#            </ul>#}
            <h2 align="center" style="color: #0072bc;">What We Will Do</h2>
            <ul class="backgrd_detail" style="line-height:25px;">
                <li>Add color to your square using
                    <img src="/static/img/turtle/turtles_color.png" height="40px"> </li>
                <li>You can find that block in the menu Turtles >> Pen.</li>
                <li>This is what we will make (the numbers are only there to help you with distances.):</li>
                <br/>
                <p align="center"><img src="/static/img/turtle/turtle_example_colored_square.png" height="150px"></p>
            </ul>
        </div>
    </div>
{% endblock %}
