<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ current_class }}:{{ current_week }}:step{{ current_step }}</title>

     <!--START: Variables-->
    <script>
        var NO_SKULPT = {% block no_skulpt %}{% end %};
        var isBlockly = {% block isBlockly %}{% end %};
    </script>
    <!--END: Variables-->

    <!--#################### BEGIN: Javascript Imports ####################-->
    <!--BEGIN: Skulpt JS-->
    <script type="text/javascript" src="{{ static_url('js/skulpt.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/skulpt-stdlib.js') }}"></script>
    <!--END: Skulpt JS-->


    <!--BEGIN: JQuery JS-->
    <script type="text/javascript" src="{{ static_url('js/libraries/jquery-2.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/libraries/jquery.ui-1.11.1.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/libraries/jquery.layout-1.4.0.js') }}"></script>
    <!--END: JQuery JS-->

    <script type="text/javascript" src="{{ static_url('js/libraries/bootstrap-3.3.5.min.js') }}"></script>


    <!--BEGIN: Blockly JS-->
    <script src="/static/blockly/blockly_compressed.js"></script>
    <script src="/static/blockly/blocks_compressed.js"></script>
    <script src="/static/blockly/python_compressed.js"></script>
    <script type="text/javascript" src="{{ static_url('blockly/Blob.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('blockly/FileSaver.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('blockly/blockly_helper.js') }}"></script>

    <!--END: Blockly JS-->

    <!--BEGIN: Local JS-->
    <script type="text/javascript" src="{{ static_url('js/libraries/prettify.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/local/run_skulpt.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/snappy_jquery_layout.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/local/python_execution.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/local/local_blockly.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/local/app_code.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/local/modals.js') }}"></script>
    <!--<script src="{{ static('js/local/index.js') }}"></script>-->
    <script src="{{ xstatic('termjs', 'term.js') }}"></script>
    <!--END: Local JS-->

    <!--#################### END: Javascript Imports ####################-->


    <!--#################### BEGIN: CSS Imports ####################-->
    <!--<link rel="stylesheet" href="/static/css/local/classes_layout.css">-->
    <link rel="stylesheet" href="../../static/css/libraries/bootstrap-3.3.5.css">
    <link rel="stylesheet" href="../../static/css/libraries/tomorrow.css">
    <link rel="stylesheet" href="/static/css/snappy_class_jquery_ui.css">
    <link rel="stylesheet" href="/static/css/snappy_class.css">
    <!--#################### END: CSS Imports ####################-->

    <script>
        // This script sets up the terminal in the output tab.
        var TERM;
        var myOS = detectOS();
        var display_needed = {% block display_needed %}{% end %}

        window.addEventListener('load', function () {
        }, false);

        function make_term() {
            var containers = document.getElementsByClassName('terminado-container');
            if (containers.length >=1) {
                $('.terminal').remove();
            }
            var container, rows, cols, protocol, ws_url;

            for (var i = 0; i < containers.length; i++) {
                container = containers[i];
                rows = 20; // parseInt(container.dataset.rows);
                cols = 60; // parseInt(container.dataset.cols);
                protocol = (window.location.protocol.indexOf("https") === 0) ? "wss" : "ws";
                ws_url = protocol + "://" + window.location.host + container.dataset.wsUrl;

                TERM = make_terminal(container, {rows: rows, cols: cols}, ws_url);
            }
        }

        function sendToTerminal(absolute_path_to_file) {

            TERM.term.showCursor();
            console.log(myOS);
            if (myOS == "MacOS"){
                TERM.term.handler("python3 " + absolute_path_to_file + "; exit\n");
            }
            else if (myOS == "Raspberry Pi" && display_needed == true){
                TERM.term.handler('export DISPLAY=:0 && python3 ' + absolute_path_to_file + "; exit\r");
            }
            else {
                TERM.term.handler("python3 " + absolute_path_to_file + "; exit\r");
            }
        }

        // From: http://stackoverflow.com/questions/11219582/how-to-detect-my-browser-version-and-operating-system-using-javascript
        function detectOS() {
            // This script sets OSName variable as follows:
            // "Windows"    for all versions of Windows
            // "MacOS"      for all versions of Macintosh OS
            // "Linux"      for all versions of Linux
            // "UNIX"       for all other UNIX flavors
            // "Unknown OS" indicates failure to detect the OS
            console.log(navigator.platform);
            var OSName="Unknown OS";
            if (navigator.platform == 'Linux armv7l') OSName="Raspberry Pi";
            if (navigator.platform == 'Linux armv8l') OSName="Raspberry Pi";
            if (navigator.platform == 'Windows') OSName="Windows";
            if (navigator.platform == "MacIntel") OSName="MacOS";

            return OSName;
        }
    </script>

    <script>
        // This script sets up the websocket for the run button.
        $(document).ready(function () {
            var ws, protocol, ws_url;
            var code_as_text;

            $("#run_button").click(function (evt) {
                code_as_text = run_code();
                make_term();
                if (NO_SKULPT == true) {
                    if (isBlockly) {
                        // Create a websocket instance.
                        ws = new WebSocket("ws://" + window.location.host + "/ws");
                        // Handle incoming websocket message callback
                        ws.onmessage = function (evt) {
                            sendToTerminal(evt.data);
                        };
                        // Close Websocket callback
                        ws.onclose = function (evt) {
                            console.log("***Connection Closed***");
                        };
                        // Open Websocket callback
                        ws.onopen = function (evt) {
                            console.log("***Connection Opened***");
                            ws.send(code_as_text);
                        };
                    }
                }
            });
        });
    </script>



</head>
<body>
  <!-- Modal Popup for Output Canvas -->
  <div class="modal fade" id="modal-output" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div>
                    <h2 align="center" style="color: #0072bc;">TURTLE GRAPHICS OUTPUT</h2>
                    <div align="center" id="mycanvas"></div>
                </div>
            </div>
        </div>
    </div>

  <!--Thi panel holds the blockly components.-->
  <div class="ui-layout-center">
    {% include 'code_area_blockly.xml' %}  <!--Content of the coding area on the page.-->
</div>

  <!-- allowOverflow enables menu to drop past bottom of north pane -->
  <div class="ui-layout-north" onmouseover="myLayout.allowOverflow('north')" onmouseout="myLayout.resetOverflow('this')">
    <table>
        <tr>
            <td id="head_left" class='logo'>
                <a href="/">
                    <img src="/static/img/snappy_code.png" alt="Snappy Code" height="70">
                </a>
            </td>
            <td id="head_middle">
                <div style="padding-left: 10px;">
                    <p class='home'>
                        {% set class_menu = '/dir' + current_class[5:] %}
                        <a href={{ class_menu }}>LESSON {{ current_week[-2:] }}/STEP {{ current_step }}:{% block middle %}{% end %}</a>
                    </p>

                    <nav>
                        <ul class="pagination navbar">
                            {% if int(current_step) == 0 %}
                            {% set state = "disabled" %}
                            {% set calc_href = '/'.join(["", current_class, current_week, '00#']) %}
                            {% else %}
                            {% set state = "enabled" %}
                            {% set previous = int(current_step) - 1 %}
                            {% set calc_href = '/'.join(["", current_class, current_week, '%02d' % previous]) %}
                            {% end %}
                            <li class="{{ state }}">
                                <a href="{{ calc_href }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% for n in total_steps %}
                            {% if int(current_step) == n %}
                            {% set act = "active" %}

                            {% else %}
                            {% set act = "inactive" %}

                            {% end %}
                            <li class={{ act }}>
                                <a href="/{{ current_class }}/{{ current_week }}/{{ '%02d' % n }}">{{ n }}</a></li>
                            {% end %}

                            {% if int(current_step) == (total_steps[-1]) %}
                            {% set state = "disabled" %}

                            {% set calc_href = '/'.join(["", current_class, current_week, ''.join([current_step, "#"
                            ])]) %}
                            {% else %}
                            {% set state = "enabled" %}
                            {% set next = int(current_step) + 1 %}
                            {% set calc_href = '/'.join(["", current_class, current_week, '%02d' % next]) %}
                            {% end %}
                            <li class="{{ state }}">
                                <a href="{{ calc_href }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>


            </td>
            <td id="head_right">
                <textarea id="python_code" name="my_code" type="text" class="content" readonly="true" wrap="off" style="display:none;"></textarea>
                <ul class="menu_select" id="north_menu">
                    <li id="menu">
                        <ul class="menu_select" id="north_menu_items">
                            <li class="menu_select menu_items" onclick="discard()">Delete All</li>
                            <li class="menu_select menu_items" id="fakeload">Load Blocks</li>
                            <li class="menu_select menu_items" onclick="save()">Save Blocks</li>
                            <li class="menu_select menu_items" onclick="save_python()">Save Code</li>
                            <li class="menu_select menu_items" id="run_button" onclick="run_code()">Run Code</li>
                        </ul>
                        <img src="/static/img/menu_graphic.png" alt="MENU" height="20px"/>
                        <!-- put this below so IE and FF render the same! -->
                    </li>
                </ul>
            </td>
        </tr>
    </table>
    <input type="file" id="load" style="display: none;">
</div>

  <!--This panel holds help and step information.-->
  <div class="ui-layout-west">
      {% block help %}{% end %}
  </div>

  <!--This panel holds code (center) and output (south)-->
  <div class="ui-layout-east">
    <div class="ui-layout-center" id="panel_code">
        <div id="code_panel">
            <div>
                <h2 id="code_title">Code</h2>
            </div>
            <div id="code">
                <pre class="code_out prettyprint linenums" id="code2"></pre>
            </div>
        </div>
    </div>
    <div class="ui-layout-south" id="panel_output">
        <table id="output_panel">
            <tr style="height: 50px;">
                <td>
                    <h2 id="output_title">Output</h2>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: text-top; margin-top: 10px">
                    <div id="wrapper">{% module Terminal("/websocket") %}</div>
                </td>
            </tr>
        </table> <!-- AJL: This is extra, but DON'T REMOVE IT. Needed to handle teminal.-->
        </div>
    </div>
  </div> <!--Keep this to close extra tag in output-->

  <!--This gets inserted over the contents_area div in the center panel (happens in app_code.js).-->
  <div id="content_blocks" style="position: absolute"></div>

  {% block details_and_toolbox %}{% end %}

</body>
</html>