<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
</head>
<body>
<h2>Block Categories</h2>
<table border="1">
    <tr bgcolor="#9acd32">
        <th style="text-align:left">Use</th>
        <th style="text-align:left">Category</th>
        <th style="text-align:left">Blocks</th>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>Variables</td>
        <td>
            &nbsp;

        </td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>Numbers</td>
        <td>
            &nbsp;

        </td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>numbers_int</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>numbers_float</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>numbers_arithmetic</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>numbers_cast_int</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>numbers_cast_float</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>numbers_to_base</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>Strings</td>
        <td>
            &nbsp;

        </td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>strings_print</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>strings_print_commas</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>strings</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>strings_cast_str</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>strings_concatenate</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>Booleans</td>
        <td>
            &nbsp;

        </td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>logic_boolean</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>logic_compare</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>logic_operation</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>controls_if</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>Lists</td>
        <td>
            &nbsp;

        </td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>lists_create_empty</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>lists_create_with</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>lists_append</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>lists_extend</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>lists_insert</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>lists_remove</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>lists_index</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>lists_count</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>lists_reverse</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>lists_pop</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>lists_sort</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>lists_repeat</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>lists_length</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>lists_isEmpty</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>Tuple</td>
        <td>
            &nbsp;

        </td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>tuple_create_empty</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>tuple_create_with</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>tuple_cast_to</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>tuple_repeat</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>tuple_length</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>tuple_isEmpty</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>tuple_indexOf</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>tuple_getIndex</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>tuple_setIndex</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>tuple_getSublist</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>tuple_split</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>Dictionary</td>
        <td>
            &nbsp;

        </td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>py_dict_item</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>dict_create_empty</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>dict_create_with</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>dict_methods_vki</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>dict_length</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>dict_items</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>dict_keys</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>dict_values</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>dict_value_from_key</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>dict_key_value</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>dict_set_key_value</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>dict_del_key_value</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>dict_key_in_not_in</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>dict_copy</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>dict_clear</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>Built-Ins</td>
        <td>
            &nbsp;

        </td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>builtins_length</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>builtins_range_with</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>builtins_type</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>General</td>
        <td>
            &nbsp;

        </td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>general_comment</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>general_create_with</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>general_input</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>Conditionals</td>
        <td>
            &nbsp;

        </td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>controls_if</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>controls_if</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>controls_if</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>Loops</td>
        <td>
            &nbsp;

        </td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>loops_for_each</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>loops_while</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>
            &nbsp;

        </td>
        <td>loops_break_continue</td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>Functions</td>
        <td>
            &nbsp;

        </td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>Objects</td>
        <td>
            &nbsp;

        </td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>Methods</td>
        <td>
            &nbsp;

        </td>
    </tr>
    <tr>
        <td><input type="checkbox" /></td>
        <td>Libraries</td>
        <td>
            &nbsp;

        </td>
    </tr>
</table>
</body>
</html>
