{# _BocklyPi/templates/directory/class03/dir.html_ #}

{% extends "../layout.html" %}
{% block title %}Class03 Directory{% end %}
{% block headers %}
    <!-- Custom styles for this template -->
    <link href="../static/css/dir.css" rel="stylesheet">
{% end %}
{% block subheading %}&nbsp;Mr. Lamb's and Ms. Thomas' Classes{% end %}
{% block body %}
    <div class="tree well">
        <ul>
            <li>
                <span><i class="icon-folder-open"></i>Week 00</span>
                <a href="class03/week00/00">Welcome to Pyblocks</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 01</span>
                <a href="class03/week01/00">Loops, loops, loops...</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 02</span>
                <a href="class03/week02/00">Using Math to Make More Complicated Turtle Shapes</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 03</span>
                <a href="class03/week03/00">Python Functions and Angles</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 04</span>
                <a href="class03/week04/00">Fractions</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 05</span>
                <a href="class03/week05/00">Multiplying Fractions</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 06</span>
                <a href="class03/week06/00">Adding Fractions</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 07</span>
                <a href="class03/week07/00">Improper Fractions and Mixed Numbers</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 08</span>
{#                <a href="class03/week08/00">Mixed Numbers</a>#}

            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 09</span>
{#                <a href="class03/week09/00">TBD</a>#}
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 10</span>
{#                <a href="/class03/10/00">TBD</a>#}
            </li>
        </ul>
    </div>
{% end %}
