{# _pybly/templates/directory/class05/dir.html_ #}

{% extends "../layout.html" %}
{% block title %}Class05 Directory{% end %}
{% block headers %}
    <!-- Custom styles for this template -->
    <link href="../static/css/dir.css" rel="stylesheet">
{% end %}
{% block subheading %}&nbsp;Basic Python{% end %}
{% block body %}
    <div class="tree well">
        <ul>
            <li>
                <span><i class="icon-folder-open"></i>Week 00</span>
                <a href="class05/week00/00">Getting used to PyBlocks and Python</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 01</span>
                <a href="class05/week01/00">Variables, Strings and More Turtles</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 02</span>
                <a href="class05/week02/00">Lists and Loops</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 03</span>
                <a href="class05/week03/00">Strings and User Input</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 04</span>
                <a href="class05/week04/00">The Guessing Game: Making Decisions</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 05</span>
                <a href="class05/week05/00">The Guessing Game: Redo</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 06</span>
                <a href="class05/week06/00">Making a Battleship Game</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 07</span>
                <a href="class05/week07/00">Controlling Hardware: LEDs and Buttons</a>
            </li>
        </ul>
    </div>
{% end %}
