{# _BocklyPi/templates/directory/class03/dir.html_ #}

{% extends "layout.html" %}
{% block title %}Class04 Directory{% endblock %}
{% block headers %}
    <!-- Custom styles for this template -->
    <link href="../static/css/dir.css" rel="stylesheet">
{% endblock %}
{% block subheading %}&nbsp;Mr. McCracken's Class{% endblock %}
{% block body %}
    <div class="tree well">
        <ul>
            <li>
                <span><i class="icon-folder-open"></i>Week 00</span>
                <a href="class04/week00/00">Welcome to Pyblocks</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 01</span>
{#                <a href="class04/week01/00">Loops, loops, loops...</a>#}
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 02</span>
{#                <a href="class04/week02/00">Using Math to Make More Complicated Turtle Shapes</a>#}
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 03</span>
{#                <a href="class04/week03/00">Tell me the truth.</a>#}
            </li>
{#            <li>#}
{#                <span><i class="icon-folder-open"></i>Week 04</span>#}
{#                <a href="class04/week04/00">To code or not to code...Decision making.</a>#}
{#            </li>#}
{#            <li>#}
{#                <span><i class="icon-folder-open"></i>Week 05</span>#}
{#                <a href="class04/week05/00">[Lists, Lists, Lists]</a>#}
{#            </li>#}
{#            <li>#}
{#                <span><i class="icon-folder-open"></i>Week 06</span>#}
{#                <a href="class04/week06/00">Loops and Turtle Art</a>#}
{#            </li>#}
{#            <li>#}
{#                <span><i class="icon-folder-open"></i>Week 07</span>#}
{#                <a href="class04/week07/00">TBD</a>#}
{#            </li>#}
{#            <li>#}
{#                <span><i class="icon-folder-open"></i>Week 08</span>#}
{#                <a href="class04/week08/00">TBD</a>#}
{#            </li>#}
{#            <li>#}
{#                <span><i class="icon-folder-open"></i>Week 09</span>#}
{#                <a href="class04/week09/00">TBD</a>#}
{#            </li>#}
{#            <li>#}
{#                <span><i class="icon-folder-open"></i>Week 10</span>#}
{#                <a href="/class03/10/00">TBD</a>#}
{#            </li>#}
        </ul>
    </div>
{% endblock %}
