{# _BocklyPi/templates/directory/class02/dir.html_ #}

{% extends "layout.html" %}
{% block title %}Class02 Directory{% endblock %}
{% block headers %}
    <!-- Custom styles for this template -->
    <link href="../static/css/class02dir.css" rel="stylesheet">
{% endblock %}
{% block subheading %}&nbsp;Learn Python using Electronics{% endblock %}
{% block body %}
    <div class="tree well">
        <ul>
            <li>
                <span><i class="icon-folder-open"></i>Week 00</span>
                <a href="class02/week00/00">what = 'is a variable'</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 01</span>
                <a href="class02/week01/00">Numbers, numbers everywhere...</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 02</span>
                <a href="class02/week02/00">Don't string me along.</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 03</span>
                <a href="class02/week03/00">Tell me the truth.</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 04</span>
                <a href="class02/week04/00">To code or not to code...Decision making.</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 05</span>
                <a href="class02/week05/00">[Lists, Lists, Lists]</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 06</span>
                <a href="class02/week06/00">Loops and Turtle Art</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 07</span>
                <a href="class02/week07/00">More Turtle Art</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 08</span>
                <a href="class02/week08/00">A Little More Turtle using Events</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 09</span>
                <a href="class02/week09/00">Finally...Some Electronics</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 10</span>
                <a href="/class02/10/00">Programming Add-on Boards</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 11</span>
{#                <a href="/class02/11/00">TBD</a>#}
            </li>
            <li>
{#                <span><i class="icon-folder-open"></i>Week 12</span>#}
{#                <a href="/class02/12/00">TBD</a>#}
            </li>
            <li>
{#                <span><i class="icon-folder-open"></i>Week 13</span>#}
{#                <a href="/class02/13/00">TBD</a>#}
{#            </li>#}
{#            <li>#}
{#                <span><i class="icon-folder-open"></i>Week 14</span>#}
{#                <a href="/class02/14/00">Wrapping Things Up</a>#}
            </li>
        </ul>
    </div>
{% endblock %}
