{# _BocklyPi/templates/directory/class10/dir.html_ #}

{% extends "layout.html" %}
{% block title %}Learning to Programming with Core Curriculum Math{% endblock %}
{% block headers %}
    <!-- Custom styles for this template -->
    <link href="../static/css/dir.css" rel="stylesheet">
{% endblock %}
{% block subheading %}&nbsp;PyBlocks and the Python Programming Language{% endblock %}
{% block body %}
    <div class="tree well">
        <ul>
            <li>
                <span><i class="icon-folder-open"></i>Topic 00</span>
                <a href="class01/week00/00">Turtle Graphics I</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Topic 01</span>
                <a href="class01/week01/00">Turtle Graphics II</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Topic 02</span>
                <a href="class01/week02/00">Variables and Data Types</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Topic 03</span>
                <a href="class01/week03/00">Integers and Math</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Topic 04</span>
                <a href="class01/week04/00">Strings and User Input</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Topic 05</span>
                <a href="class01/week05/00">Lists and Loops</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Topic 06</span>
                <a href="class01/week06/00">Booleans, Conditionals, and Logic</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Topic 07</span>
                <a href="class01/week07/00">Functions</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Topic 08</span>
{#                <a href="class01/week08/00">TBD</a>#}
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Topic 09</span>
{#                <a href="class01/week09/00">TBD</a>#}
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Topic 10</span>
{#                <a href="/class10/10/00">TBD</a>#}
            </li>
        </ul>
    </div>
{% endblock %}
