{# _BocklyPi/templates/directory/class06/dir.html_ #}

{% extends "../layout.html" %}
{% block title %}Class06 Directory{% end %}
{% block headers %}
    <!-- Custom styles for this template -->
    <link href="../static/css/dir.css" rel="stylesheet">
{% end %}
{% block subheading %}&nbsp;Intermediate Python{% end %}
{% block body %}
    <div class="tree well">
        <ul>
            <li>
                <span><i class="icon-folder-open"></i>Week 00</span>
                <a href="class06/week00/00">Basic Electronics</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 01</span>
                <a href="class06/week01/00">LEDs</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 02</span>
                <a href="class06/week02/00">More LEDs</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 03</span>
                <a href="class06/week03/00">LED Intensity and RGB LEDs</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 04</span>
                <a href="class06/week04/00">Making a Guessing Game</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 05</span>
                <a href="class06/week05/00">Sensing Motion</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 06</span>
                <a href="class06/week06/00">Using Buttons: The Reaction Game</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 07</span>
                <a href="class06/week07/00">Binary Numbers on Paper (no web pages)</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 08</span>
                <a href="class06/week08/00">Binary Numbers with the Computer</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 09</span>
                <a href="class06/week09/00">Motors</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 10</span>
                <a href="class06/week10/00">Using Analog Input to Control Motors</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 11</span>
                {#                <a href="class06/week07/00">More Turtle Art</a>#}
            </li>
        </ul>
    </div>
{% end %}
