{# _pybly/templates/directory/class07/dir.html_ #}

{% extends "../layout.html" %}
{% block title %}Class07 Directory{% end %}
{% block headers %}
    <!-- Custom styles for this template -->
    <link href="../static/css/dir.css" rel="stylesheet">
{% end %}
{% block subheading %}&nbsp;An Introduction to Python Programming (Web){% end %}
{% block body %}
    <div class="tree well">
        <ul>
            <li>
                <span><i class="icon-folder-open"></i>Lesson 00</span>
                <a href="class07/week00/00">Welcome to SnapPy Code</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Lesson 01</span>
                <a href="class07/week01/00">Variables, Strings and More Turtles</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Lesson 02</span>
                <a href="class07/week02/00">Lists and Loops</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Lesson 03</span>
                <a href="class07/week03/00">Strings and User Input</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Lesson 04</span>
                <a href="class07/week04/00">The Guessing Game: Making Decisions</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Lesson 05</span>
                <a href="class07/week05/00">Making a Battleship Game</a>
            </li>

        </ul>
    </div>
{% end %}
