{# _BocklyPi/templates/directory/class14/dir.html_ #}

{% extends "layout.html" %}
{% block title %}Learning to Programming with Core Curriculum Math{% endblock %}
{% block headers %}
    <!-- Custom styles for this template -->
    <link href="../static/css/dir.css" rel="stylesheet">
{% endblock %}
{% block subheading %}&nbsp;Fourth Grade Core Curriculum Math{% endblock %}
{% block body %}
    <div class="tree well">
        <ul>
            <li>
                <span><i class="icon-folder-open"></i>Week 00</span>
                <a href="class14/week00/00">Pyblocks and Python Basics</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 01</span>
                <a href="class14/week01/00">Geometric Shapes</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 02</span>
                <a href="class14/week02/00">Using Math to Make More Complicated Turtle Shapes</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 03</span>
                <a href="class14/week03/00">Angles</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 04</span>
                <a href="class14/week04/00">Fractions</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 05</span>
                <a href="class14/week05/00">The Truth About Fractions</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 06</span>
{#                <a href="class14/week06/00">Loops and Turtle Art</a>#}
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 07</span>
{#                <a href="class14/week07/00">TBD</a>#}
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 08</span>
{#                <a href="class14/week08/00">TBD</a>#}
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 09</span>
{#                <a href="class14/week09/00">TBD</a>#}
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Week 10</span>
{#                <a href="/class14/10/00">TBD</a>#}
            </li>
        </ul>
    </div>
{% endblock %}
