{# _BocklyPi/templates/directory/class10/dir.html_ #}

{% extends "../layout.html" %}
{% block title %}Introduction to Python using Py+{% end %}
{% block headers %}
    <!-- Custom styles for this template -->
    <link href="../static/css/dir.css" rel="stylesheet">
{% end %}
{% block subheading %}&nbsp;Introduction to Python using Py+{% end %}
{% block body %}
    <div class="tree well">
        <ul>
            <li>
                <span><i class="icon-folder-open"></i>Lesson 00</span>
                <a href="class10/week00/00">Getting to Know Py+</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Lesson 01</span>
                <a href="class10/week01/00">Variables, Numbers and Strings</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Lesson 02</span>
                <a href="class10/week02/00">Groups and Loops: Lists, Tuples, For Loop, While Loop</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Lesson 03</span>
                <a href="class10/week03/00">Making Decisions: Booleans and Conditionals</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Lesson 04</span>
                <a href="class10/week04/00">Turtle Graphics Overview</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Lesson 05</span>
                <a href="class10/week05/00">Using Turtle Graphics to Make Art</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Lesson 06</span>
                <a href="class10/week06/00">Dictionaries</a>
            </li>
            <li>
                <span><i class="icon-folder-open"></i>Lesson 07</span>
                <a href="class10/week07/00">Functions</a>
            </li>
        </ul>
    </div>
{% end %}
