{# _PyBlocks/templates/classes/class05/week00/00/main.html_ #}

{% extends "../../../classes_layout_skulpt.html" %}

{# The title of the step. #}
{% block middle %}
    Turtle Pond: A Place to Explore and Try New Things
{% end %}

{# Blockly related items.#}
{% block isBlockly %}true{% end %}
{% block details_and_toolbox %}
    {% include 'toolbox.xml' %}
    {% include 'default.xml' %}
{% end %}

{# False if Skulpt interpreter is used instead of server-side interpreter. #}
{% block no_skulpt %}true{% end %}

{# Code for side panels.  Leave blank to have no panels.#}
{% block help %}
    <!--
    <div id="panel_help">
        <div style="padding: 0px">
            <h2 align="center" style="color: #0072bc;font-size: 16pt;">Welcome to Snappy Code</h2>
            <br/>
            <p>Snappy Code uses colorful blocks to write programs instead of typing.</p>
            <p/>
            <ul class="backgrd_detail" style="line-height:25px;">
                <li>Blocks</li>
                <ul>
                    <li>Blocks are used to write a program.</li>
                    <li>Blocks are stored in the menu.</li>
                </ul>
                <li>Menu</li>
                <ul>
                    <li>The gray menu on the left.</li>
                    <li>Some menus have menus inside.</li>
                    <li>Labels group the blocks by category.</li>
                    <li>Clicking a label shows the blocks inside.</li>
                    <li>Click a block to place it onto the workspace.</li>
                </ul>
                <li>Workspace</li>
                <ul>
                    <li>This is the large white area to the right of the menu.</li>
                    <li>All PyBlocks programming happens here.</li>
                </ul>
                <li>Python Code Area</li>
                <ul>
                    <li>Underneath this panel is the Python Code Area.</li>
                    <li>It is accessed by clicking on the Code tab.</li>
                    <li>Python code is generated here whenever the workspace changes.</li>
                </ul>
                <li>Output Area</li>
                <ul>
                    <li>Underneath this panel is the Ouput Area.</li>
                    <li>It is accessed by clicking on the Output tab.</li>
                    <li>The program runs when the Output tab is clicked.</li>
                    <li>Only printable output shows up here.</li>
                </ul>
                <li>Canvas</li>
                <ul>
                    <li>Pops up when a graphical program like Turtles runs.</li>
                    <li>The ouput to the program is shown here.</li>
                    <li>To exit, click the close button or the shaded area.</li>
                </ul>
            </ul>
        </div>
    </div>
-->
{% end %}
