{# _PyBlocks/templates/classes/class02/week05/04/main.html_ #}

{% extends "/classes/classes_layout_skulpt.html" %}
{% block title %}Class{{ current_class }}:Week{{ current_week }}:Step{{ current_step }}{% endblock %}

{# Content of the modal popup that appears on cavas based output (i.e., turtle graphics). #}
{% set outputModalSize =  "modal-lg" %}
{% block isModalIntro %}false{% endblock %}

{% block middle %}
    Warmup: Math
{% endblock %}

{# Content of the coding area on the page. #}
{% block code_area %}
    {% include ['/classes/', 'code_area_blockly.xml'] | join('') %}
{% endblock %}
{# Blockly related items.#}
{% block isBlockly %}true{% endblock %}
{% block details_and_toolbox %}
    {% include [step_path, 'toolbox.xml'] | join('') %}
    {% include [step_path, 'default.xml'] | join('') %}
{% endblock %}
{#{% block autosave %}auto_save_and_restore_blocks();{% endblock %}#}
{# False if Skulpt interpreter is used instead of server-side interpreter. #}
{% block no_skulpt %}false{% endblock %}

{% block python_start_text %}''{% endblock %}

{% block panel %}
    <div id="panel" xmlns="http://www.w3.org/1999/html">
        <div style="padding: 30px">
            <h2 align="center" style="color: #0072bc;">Python and Math</h2>
            <br/>
            <ul class="backgrd_detail" style="line-height:25px;">

                <li>For all simple math opertations, Pyblocks uses</li>
                    <br/>
                    <p align="center"><img src="/static/img/numbers/numbers_operations.png" height="40px"></p>

                <br/>
                <li>Python uses + for addition and - for subtraction.</li>
                <li>Other operations use symbols different from written ones:</li>
                <ul>
                    <p align="center"><span style="font-size:24px;vertical-align:bottom;line-height:30px;">*</span> for Multiplication</p>
                    <p align="center"><span style="font-size:24px;line-height:30px;">/</span> for Division</p>
                    <p align="center"><span style="font-size:24px;vertical-align:bottom;line-height:30px;">**</span> for Powers</p>
                </ul>
                <li>There is also an operator you may not have heard of called modulo; it uses a %.
                    This is the same as the remainder in long division.</li>
                <li>Examples:</li>
                <ul>
                    <p align="center">4 % 2 = 0</p>
                    <p align="center">3 % 2 = 1 </p>
                    <p align="center">17 % 3 = 2</p>
                    <p align="center">19 % 4 = 3 </p>
                </ul>
            </ul>
        </div>
    </div>
{% endblock %}