{# _PyBlocks/templates/classes/class02/week05/04/main.html_ #}

{% extends "/classes/classes_layout_skulpt.html" %}
{% block title %}Class{{ current_class }}:Week{{ current_week }}:Step{{ current_step }}{% endblock %}

{# Content of the modal popup that appears on cavas based output (i.e., turtle graphics). #}
{% set outputModalSize =  "modal-lg" %}
{% block isModalIntro %}false{% endblock %}

{% block middle %}
    Making the Shapes Move
{% endblock %}

{# Content of the coding area on the page. #}
{% block code_area %}
    {% include ['/classes/', 'code_area_blockly.xml'] | join('') %}
{% endblock %}
{# Blockly related items.#}
{% block isBlockly %}true{% endblock %}
{% block details_and_toolbox %}
    {% include [step_path, 'toolbox.xml'] | join('') %}
    {% include [step_path, 'default.xml'] | join('') %}
{% endblock %}
{#{% block autosave %}auto_save_and_restore_blocks();{% endblock %}#}
{# False if Skulpt interpreter is used instead of server-side interpreter. #}
{% block no_skulpt %}false{% endblock %}

{% block python_start_text %}''{% endblock %}

{% block panel %}
    <div id="panel">
        <div style="padding: 30px">
            <h2 align="center" style="color: #0072bc;">What to Do</h2>
            <ul class="backgrd_detail" style="line-height:25px;">
                <li>Add a for loop around the existing one.</li>
                <li>Rename the new loop's variable.</li>
                <li>Loop this over the range of a variable named times_around</li>
                <li>Add a turn at the bottom of this loop after the old loop.</li>
            </ul>
        </div>
    </div>
{% endblock %}
