{# _PyBlocks/templates/classes/class02/week05/04/main.html_ #}

{% extends "/classes/classes_layout_skulpt.html" %}
{% block title %}Class{{ current_class }}:Week{{ current_week }}:Step{{ current_step }}{% end %}

{# Content of the modal popup that appears on cavas based output (i.e., turtle graphics). #}
{% set outputModalSize =  "modal-lg" %}
{% block isModalIntro %}false{% end %}

{% block middle %}
    Sandbox
{% end %}

{# Content of the coding area on the page. #}
{% block code_area %}
    {% include ['/classes/', 'code_area_blockly.xml'] | join('') %}
{% end %}
{# Blockly related items.#}
{% block isBlockly %}true{% end %}
{% block details_and_toolbox %}
    {% include [step_path, 'toolbox.xml'] | join('') %}
    {% include [step_path, 'default.xml'] | join('') %}
{% end %}
{#{% block autosave %}auto_save_and_restore_blocks();{% end %}#}
{#True if Skulpt interpreter is used instead of server-side interpreter.#}
{% block no_skulpt %}false{% end %}

{% block python_start_text %}''{% end %}

{% block panel %}
    <div id="panel">
        <div style="padding: 30px">
            <h2 align="center" style="color: #0072bc;">Sandbox</h2>
            <ul class="backgrd_detail" style="line-height:25px;">
                <li>Have fun exploring PyBlocks and Turtle Graphics.</li>
                <li>Explore some of the blocks we didn't discuss or </li>
                <li>See what you can do with your turtle.</li>
            </ul>
            <h2 align="center" style="color: #0072bc;">Next Time</h2>
            <ul class="backgrd_detail" style="line-height:25px;">
                <li>A little bit of math.</li>
                <li>More fun with turtles.</li>
            </ul>

        </div>
    </div>
{% end %}
